<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="firstapp.ryanbeck.bowler_pro">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".View.joinGroup_activity"></activity>
        <activity android:name=".View.groupInfo_activity" />
        <activity android:name=".View.removeGroup_activity" />
        <activity android:name=".View.addGroup_activity" />
        <activity android:name=".View.view_game_log_activity" />
        <activity android:name=".View.admin_activity" />
        <activity android:name=".View.playerStats_activity" />
        <activity android:name=".View.logGame_activity" />
        <activity android:name=".View.sign_in_activity" />
        <activity android:name=".View.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>